<%- if devise_mapping.omniauthable? %>
  <h3>You can proceed using your favorite auth provider:</h3>
  <%@providers = resource_class.omniauth_providers%>
  <%- @providers.each do |provider| %>
    <%= link_to t(provider) + ' »', omniauth_authorize_path(resource_name, provider), :class => 'btn large primary' %>&nbsp;
  <% end -%>
<% end -%>
