<div class="span4">
  <div class="alert-message warning">
    <strong><%=link_to presentation.name, presentation_url(presentation)%></strong>
    <p><%=raw presentation.to_html%></p>
    <span class="label"><%=link_to presentation.user.account.name, account_url(presentation.user.account)%></span>
    <p style="text-align:right;">
    <br/>
    <a class="btn info small" href="<%=presentation_url(p)%>">View more &raquo;</a>
    </p>
  </div>
</div>
