/*
 *= require twitter/bootstrap
*/

.red {
  color : #cc0000;
}

.footer {
    background-color: #EEEEEE;
    border-top: 1px solid #E5E5E5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.024) inset;
    min-width: 940px;
    padding: 30px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}

.label.name { background-color:#88cffc; color: #555 }
